@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Machine

<h2>@Html.DisplayFor(model => model.MachineName)'s Details</h2>
<hr/>
@if (Model.JoinEntities.Count == 0)
{
  <h4>No Licensed Engineers</h4>
}
else
{
  <h3>Licensed Engineers:</h3>
  @foreach(RepairLicense join in Model.JoinEntities)
  {
    <h4>@Html.ActionLink($"{join.Engineer.EngineerName}", "Details", "Engineers", new { id = join.Engineer.EngineerId })</h4>
    @using (Html.BeginForm("DeleteEngineer", "Machines"))
    {
      @Html.Hidden("joinId", @join.RepairLicenseId)
      <input type="submit" value="Remove Engineer"/><br><br>
    }
  }
}
<hr/>
<button>@Html.ActionLink("Add Engineer", "AddEngineer", new { id = Model.MachineId })</button>
<button>@Html.ActionLink("Edit Machine", "Edit", new { id = Model.MachineId })</button>
<button>@Html.ActionLink("Delete Machine", "Delete", new { id = Model.MachineId })</button>