@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Machine

<h2>The @Html.DisplayFor(model => model.MachineName)</h2>
<hr/>
@if (Model.JoinEntities.Count == 0)
{
  <h3>No Licensed Engineers</h3>
}
else
{
  <h3>Licensed Engineers:</h3>
  @foreach(RepairLicense join in Model.JoinEntities)
  {
    <h4>@Html.ActionLink($"{join.Engineer.EngineerName}", "Details", "Engineers", new { id = join.Engineer.EngineerId })</h4>
    @using (Html.BeginForm("DeleteEngineer", "Machines"))
    {
      @Html.Hidden("joinId", @join.RepairLicenseId)
      <input type="submit" value="Remove"/><br><br>
    }
  }
}
<hr/>
<button>@Html.ActionLink("ADD ENGINEER", "AddEngineer", new { id = Model.MachineId })</button>
<button>@Html.ActionLink("EDIT", "Edit", new { id = Model.MachineId })</button>
<button>@Html.ActionLink("DELETE", "Delete", new { id = Model.MachineId })</button>