@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Engineer

<h2>@Html.DisplayFor(model => model.EngineerName)</h2>
<hr/>
@if (Model.JoinEntities.Count == 0)
{
  <h3>No Repair Licenses</h3>
}
else
{
  <h3>Licensed to Repair:</h3>
  @foreach(RepairLicense join in Model.JoinEntities)
  {
    <h3>@Html.ActionLink($"{join.Machine.MachineName}", "Details", "Machines", new { id = join.Machine.MachineId })</h3>
    @using (Html.BeginForm("DeleteMachine", "Engineers"))
    {
      @Html.Hidden("joinId", @join.RepairLicenseId)
      <input type="submit" value="Unlicense"/><br><br>
    }
  }
}
<hr/>
<button>@Html.ActionLink("ADD LICENSE", "AddMachine", new { id = Model.EngineerId })</button>
<button>@Html.ActionLink("EDIT", "Edit", new { id = Model.EngineerId })</button>
<button>@Html.ActionLink("DELETE", "Delete", new { id = Model.EngineerId })</button>