@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Edit @Html.DisplayFor(model => model.EngineerName)</h2>
<hr/>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)
  <h4>@Html.LabelFor(model => model.EngineerName, "Engineer Name:")</h4>
  @Html.EditorFor(model => model.EngineerName, new { htmlAttributes = new { @required="required" } } )<br><br>
  <input type="submit" value="Save" />
}
<hr/>
<h5>@Html.ActionLink($"Back to {Model.EngineerName}'s Details", "Details", new { id = Model.EngineerId })</h5>