@{
  Layout = "_Layout";
}


<h1>Maintenance</h1>
<hr/>
<h3 id="silly">Welcome Dr. Sillystringz!</h3>
<br>

@using Factory.Models;

<h2>Engineers:</h2>
<hr/>
@if (@ViewBag.Engineers.Count == 0)
{
  <h3>No Engineers Added</h3>
}
else
{
  @foreach (Engineer engineer in @ViewBag.Engineers)
  {
    <h4>@Html.ActionLink($"{engineer.EngineerName}", "Details", "Engineers", new { id = engineer.EngineerId })</h4>
    @foreach (RepairLicense license in engineer.JoinEntities)
    {
      <p>@license.Machine.MachineName @Html.ActionLink("view", "Details", "Machines", new { id = license.Machine.MachineId })</p>
    }
  }
}
<br>

<h2>Machines:</h2>
<hr/>
@if (@ViewBag.Machines.Count == 0)
{
  <h3>No Machines Added</h3>
}
else
{
  @foreach (Machine machine in @ViewBag.Machines)
  {
    <h4>@Html.ActionLink($"{machine.MachineName}", "Details", "Machines", new { id = machine.MachineId })</h4>
    @foreach (RepairLicense license in machine.JoinEntities)
    {
      <p>@license.Engineer.EngineerName @Html.ActionLink("view", "Details", "Engineers", new { id = license.Engineer.EngineerId })</p>
    }
  }
}