@{
  Layout = "_Layout";
}

<h1>Factory Manager</h1>
<hr/>
<p>Welcome, Dr. Sillystringz! Thanks for choosing us as your factory management solution! We're happy to have you! Our service allows you to easily view, edit, add, and remove both machines and engineers all in one place!</p>
<br>

@using Factory.Models;

<h2>Engineers:</h2>
<hr/>
@if (@ViewBag.Engineers.Count == 0)
{
  <h3>No Engineers Added</h3>
}
else
{
  @foreach (Engineer engineer in @ViewBag.Engineers)
  {
    <h4>@Html.ActionLink($"{engineer.EngineerName}", "Details", "Engineers", new { id = engineer.EngineerId })</h4>
  }
}
<hr/>
<br>

<h2>Machines:</h2>
<hr/>
@if (@ViewBag.Machines.Count == 0)
{
  <h3>No Machines Added</h3>
}
else
{
  @foreach (Machine machine in @ViewBag.Machines)
  {
    <h4>@Html.ActionLink($"{machine.MachineName}", "Details", "Machines", new { id = machine.MachineId })</h4>
  }
}
<hr/>